<div class="container">
    <div class="row">
        <div class="col-md-6"> 
            <a routerLink="/actualite/">
                <div class="text-actu">
                    Actualité
                </div>
                <img src="../../assets/img/accueil/actu.jpg" alt="" class="img-home">
            </a>
        </div>
        <div class="col-md-6 ">
            <a routerLink="/effectif/">
            <img src="../../assets/img/accueil/effectifs.jpeg" alt="" class="img-home">
                <div class="overlay">
                    <div class="text-effectif">Effectif</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <a routerLink="/palmares/">
                <div class="text-palmares">
                    Palmarès
                </div>
                <img src="../../assets/img/accueil/palmares.jpg" alt="" class="img-home">
            </a>
        </div>
        <div class="col-md-6 ">
            <a routerLink="/boutique/">
                <div class="text-boutique">
                    Boutique
                </div>
                <img src="../../assets/img/accueil/boutique.jpg" alt="" class="img-home">
            </a>
        </div>
    </div>
</div>