<p class="title">VOTRE PANIER</p>

<div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Article </th>
                        <th> Détails</th>
                        <th>Taille</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Prix à payer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products; let i=index;">
                        <td><img src="{{item[0].photoUrl}}" alt="" style="width: 120px;"></td>
                        <td>
                            <p>{{item[0].shortDescription}}</p>
                            <div *ngIf="item[3] || item[4]"> 
                                <p> Nom : {{item[3]}}</p>
                                <p> Numero : {{item[4]}}</p>
                                <p>Cet article sera généralement expédié dans les 24h ouvrées. Veuillez prévoir un délai supplémentaire de 3 jours pour la livraison des articles personnalisés.</p>
                            </div>
                        </td>
                        <td>{{item[1]}}</td>
                        <td>{{item[0].price}} €</td>
                        <td> {{item[2]}}</td>
                        <td>{{item[0].price * item[2]}} €</td>
                    </tr>                  
                </tbody>

            </table>
        </div>
    </div>
</div>

<p class="title">CHOIX DE LA LIVRAISON</p>
<div *ngIf="total<100; " class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <p>Sous-Total</p>
                <p class="expedition">Expédition</p>
                <p>Total</p>
            </div>
        </div>
        <div class="col-md-9">
            <p>{{total}} €</p>
            <div class="divExpedition">
                <p><mat-radio-button (change)="expRelais()"> Relais Colis®: 3,90 € </mat-radio-button></p>
                <p><mat-radio-button (change)="expDomicile()"> A domicile: 5,90 € </mat-radio-button></p>
            </div>
            <div>
                
                <div *ngIf="!relais && ! domicile">
                    {{total | number}} €
                </div>
                
                <div *ngIf="relais">
                    {{total | number }} €
                </div>
                <div *ngIf="domicile">
                    {{total | number}} €
                </div>
            </div>
        </div>
        

    </div>
</div>
<div *ngIf="total>=100; " class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <p>Sous-Total</p>
                <p> Livraision Gratuite</p>
                <p>Total</p>
            </div>
        </div>
        <div class="col-md-9">
            <p>{{total | number}} €</p>
            <p> 0€</p>
            <p>{{total | number}} €</p>
        </div>
        

    </div>
</div>
<div class="basPage">
    <button (click)="onShop()"> Continuer mes achats</button>
    <button (click)="onCheck()">Valider</button>
</div>