<div class="blanc">
    <a href="https://www.nike.com/fr/" target="_blank"><img src="../../assets/img/footer/nike.png" alt="" style="width: 100%;"></a>
    <a href="https://www.qatarairways.com/fr-fr/homepage.html" target="_blank"><img src="../../assets/img/footer/qatar-airways.png" alt="" style="width: 100%;"></a>
    <a href="https://www.goat.com/" target="_blank"><img src="../../assets/img/footer/goat.png" alt="" style="width: 100%;"></a>
</div>
<div class="bleu">
    <a href="https://www.visitqatar.qa/fr-fr" target="_blank"><img src="../../assets/img/footer/qatar.png" alt="" style="width: 100%;" ></a>
    <a href="https://all.accor.com/france/index.fr.shtml" target="_blank"><img src="../../assets/img/footer/all.png" alt="" style="width: 100%;"></a>
    <a href="https://www.ooredoo.qa/web/en/" target="_blank"><img src="../../assets/img/footer/ooredoo.png" alt="" style="width: 100%;"></a>
    <a href="https://www.visitrwanda.com/" target="_blank"><img src="../../assets/img/footer/rwanda.png" alt="" style="width: 100%;"></a>
    <a href="https://www.qnb.com/sites/qnb/qnbglobal/page/en/enqnbglobalnetwork.html" target="_blank"><img src="../../assets/img/footer/qnb.png" alt="" style="width: 100%;"></a>
    <a href="https://gorillas.io/fr" target="_blank"><img src="../../assets/img/footer/gorillas.png" alt="" style="width: 100%;"></a>
</div>
<div class="bleu">
    <a href="https://www.autohero.com/fr/?utm_source=PSG&utm_medium=Brand&utm_campaign=Brand_Partnership&utm_term=0801&utm_content=1" target="_blank"><img src="../../assets/img/footer/autohero.png" alt="" style="width: 100%;"></a>
    <a href="https://www.orange.fr/portail" target="_blank"><img src="../../assets/img/footer/orange.png" alt="" style="width: 100%;"></a>
    <a href="https://www.beinsports.com/france/" target="_blank"><img src="../../assets/img/footer/bein.png" alt="" style="width: 100%;"></a>
    <a href="https://www.ea.com/sports" target="_blank"><img src="../../assets/img/footer/easport.png" alt="" style="width: 100%;"></a>
    <a href="https://www.aspetar.com/" target="_blank"><img src="../../assets/img/footer/aspetar.png" alt="" style="width: 100%;"></a>
    <a href="https://www.parionssport.fdj.fr/" target="_blank"><img src="../../assets/img/footer/parionssport.png" alt="" style="width: 100%;"></a>
</div>