header {
    text-align: center;
    background-color: #0a2247;
    margin: 0;
    padding: 10px;
  }

  a {
    font-size: 35px;
    margin: 0 10px;
    color: #0a2247;
    text-decoration: none;
   
  }
a :hover{
    text-decoration: underline;   
    color: #ea3849;
}
