

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trophee{
    margin-top: 15px;
    text-align:  center;
    text-transform: uppercase;

}

img{
    margin-bottom: 5%;
}

p{
    font-size: large;
}

.vert{
    margin-left: 85px;
    color: green;
    font-size: 25px;
}

.rouge{
    color: red;
    font-size: 25px;
}


.gris{
    color: grey;
    font-size: 25px;
}

.adversaire{
    margin-left: 105px;
}
.points{
    
    margin-left: 140px;
}

.score{
/* margin-left: 70px; */
float: right;
position: relative;
bottom: 1.2em;
right: 75px;
}

.scoreCdC{
    position: relative;
    left: 70px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .right{
    text-decoration: underline;
  }
  
  button{
    width: 100px;
    height: 50px;
    box-shadow: rgb(238, 225, 225) 3px 3px 7px;
    color: #ea3849;
}

.backMain{
    margin: 0 0 2% 47%;
}