<div class="position">
        <div class="card" (click)="onView()">           
                <div class="info">
                    <div class="photo col-md-6">
                        <img src="{{article.photoTitle}}" alt="" style="width: 59%;">
                    </div>
                    <div class="text col-md-6">
                        <p  class="title">{{article.title}}</p>
                        <p>{{article.shortDescription}}</p>
                    </div>
                </div>            
        </div>
</div>