.btn-quantity, .livraison, .details, .description{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

ul li {
    display: inline;
}

.back{
    width: 100px;
    height: 50px;
    box-shadow: rgb(238, 225, 225) 3px 3px 7px;
    color: #ea3849;
    margin: 0 0 2% 47%;
}

.right{
    margin-left: 25px;
}

.closed{
    height: 0;
    transition: height  0.6s cubic-bezier(.22,.01,.31,.98);
    overflow-y: hidden;

}

.open{
    height: auto;
    transition: height 0.6s cubic-bezier(.22,.01,.31,.98);

} 

.container{
    display: flex;
    margin-top: 35px;
}

.image{
    width: 70%;
}

.info{
    width: 30%;
}

.btn-quantity{
    display: flex;
}

.infoBox{
    display: flex;
    justify-content: space-between;
}

.btnPlus{
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 1.5em;
    align-items: flex-end;
}

.txt-area p {
    text-align: center;
}

.quantity, .taille, .personnalisation{
    display: flex;
}

.size{
  padding: 5px 10px;
  color: black;
  border-color: black;
  width: 100px;
  height: 30px;
  margin: 10px 0px 0px 5px;
}

.gris{
    padding: 5px 10px 5px 10px;
    background-color: rgba(128, 128, 128, 0.4);
    width: 410px;
}

.btn-left, .btn-right{
    margin: 15px 5px;
    width: 35px;
    height: 35px;
    padding-top: -5px;
}

input{
    width: 35px;
    height: 35px;
    text-align: center;

}

.txtInfo{
    font-size: 1.3em;
    font-weight: bold;
}

.txtTaille{
    margin-top: 4%;
}

.txtQuantite{
    margin-top: 30%;
}

.inputNumber{
    margin-top: 4%;
}

.infoLivraison, .infoDetails, .infoDescription{
    margin-top: 4%;
    margin-left: 5%;
    font-size: 1.3em;
    font-weight: bold;
    
}

.btn-toggle{
    margin-left: 3%;
    margin-top: -1%;
}

.nomPersonnalisation, .numeroPersonnalisation{
    margin: -5% 2% 2% 2%;
    
    width: 135%;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #ea3849;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #004170 ;
}