img{
    margin: 5% 0 5% 25%;

}

.title{
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
    font-weight: bolder;
}

.shortDescription{
    text-align: justify;
    font-size: larger;
    font-style: italic;
}

.question{
    font-weight: bold;
    text-align: justify;
}

.answer{
    font-style: italic;
    text-align: justify;
}

button{
    width: 100px;
    height: 50px;
    box-shadow: rgb(238, 225, 225) 3px 3px 7px;
    color: #ea3849;
}

.back{
    margin: 5% 0 5% 45%;
} 